*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    background-image: url(./img/bg.avif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.text{
    margin: 50px 5%;
    font-family: sans-serif;
}

.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: 0.4s;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}

.navbar a:hover{
    color: red;
}

.navbar.active{
    background-color: black;
}

.navbar.active a{
    color: white;
}

.navbar.navbar.active a:hover{
    color: rgb(192, 99, 99);
}
